[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gtrendshealth"]
	path = gtrendshealth
	url = https://github.com/cdcgov/gtrendshealth
[submodule "surveytable"]
	path = surveytable
	url = https://github.com/cdcgov/surveytable
